*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #F8FAE5;
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 10;
    /* align-items: center; */
}

.dev{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.dev h1{
    color: #603F26;
    font-weight: 600;
    font-size: 30px;
}

.navi ul{
    display: flex;
    gap: 8rem;
    list-style: none;
    font-size: 18px;
    
}
.navlist li{
    padding: 2.1rem;
    color: #603F26;
}
a{
    text-decoration: none;
    color: #603F26;
    font-weight: 400;
}

nav ul li a:hover{
    transform: scale(1.5);
}

/* form page */
.conhead{
    height: fit-content;
    background-color: #d4a373;
    text-align: center;
    padding: 120px;
    font-size: 25px;
    font-weight: 1000;
}
.conmain{
    height: fit-content;
    background-color: #e9edc9;
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
}
#cmessage{
    border: none;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* position: relative; */
    text-align: left;
    

}
#cmessage h1{
    font-size: 43px;
}
#cmessage p{
    font-size: 15px;
    font-weight: 20;
}
.getin{
    color: #99582a;
    
}
.form{
    /* border: 1px solid goldenrod; */
    margin: 50px;
    height: fit-content;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 25px;
}   

label{
    font-size: 25px;
    color: #99582a;
    font-weight: 500;
}
form .btn{
    width: fit-content;
    border: none;
    font-size: 18px;
    background-color: #e9edc9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}