*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #222832;
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 10;
    /* align-items: center; */
}

.dev{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.dev h1{
    color: #E7A117;
    font-weight: 600;
    font-size: 30px;
}

.navi ul{
    display: flex;
    gap: 8rem;
    list-style: none;
    font-size: 18px;
    
}

.navlist li{
    padding: 2.1rem;
    color: #603F26;
}
a{
    text-decoration: none;
    color: #E7A117;
    font-weight: 500;
}

nav ul li a:hover{
    transform: scale(1.5);
    font-size: 19px;
    text-decoration: underline;
    text-decoration-color: #432818;
}

/* form page */
.conhead{
    height: fit-content;
    color: #E7A117;
    background-color: #222832;
    text-align: center;
    padding: 120px;
    font-size: 35px;
    font-weight: 1000;
}
.conmain{
    height: fit-content;
    background-color: #FAB95B;
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
}
#cmessage{
    border: none;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* position: relative; */
    text-align: left;
    

}
#cmessage h1{
    font-size: 43px;
}
#cmessage p{
    font-size: 15px;
    font-weight: 20;
}
.getin{
    color: #222832;
    
}
.form{
    /* border: 1px solid goldenrod; */
    margin: 50px;
    height: fit-content;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    
} 

input[type="text"],
input[type="email"],
textarea a:hover{
    border: none;
    outline: none;
 
    
}

label{
    font-size: 25px;
    color: #222832;
    font-weight: 500;
}
form .btn{
    width: fit-content;
    border: none;
    font-size: 18px;
    background-color: #e9edc9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.social{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222832;

}
.links{
    display: flex;
}

.box{
    /* position: absolute; */
    width: 210px;
    height: 30px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: gray;
    border-style: none;
    margin: 30px;
    height: fit-conten;
    font-size: 18px;
    
}
.shead{
    margin: 40px;
    font-size: 25px;
    color: #E7A117;
}
.box a{
    color: #ffe6a7;
}

.btn {
    background-color: #222832; /* Button color */
    color: #222832; /* Text color */
    padding: 12px 24px; /* Padding for the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    margin: 1px 0 0 0px;
}

footer{
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #F8FAE5;
}