@media screen and (max-width: 850px){
    .dev{
        flex-direction: column;
        gap: 30px;
       
    }
    li a{ 
        margin-right: 50px;
        font-size: 18px;
        
        
    }
    .navlist{
        margin-left: 30px;

    }

    
    .firstsec{
        display: flex;
        flex-direction: column-reverse;
        gap: 0rem;
        padding-bottom: 20px;
        padding-top: 0px;
    }
    .imgctn{
       
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imgctn img{
        width: 100%;
        height: 100%;
        /* margin-top: -110px;
        margin-bottom: -128px; */
    }
    #aboutme{
        padding-left: 80px;
        /* border: 1px solid green; */
        padding-bottom: 50px;
        padding-top: 30px;
        
    }
    .imgctn2{
        display: none;
    }
    
    .abouthead{
        
        font-size: 19px;
        padding-bottom: 20px;
        font-size: 25px;
        margin-left: 10px;
    }
    
    .aboutsp{
        
        padding: 10px;
        margin-top: 0px;
        text-align: center;
    }
    .aboutsp h1{
        margin-top: 0px;
        margin-left: -100px;
        padding-bottom: 40px;
        font-size: 27px;
    }
    .aboutinfo{
        margin-left: 0px;
        width: 90%;
        text-align: center;
        
    }
    .aboutinfo p{
        
        font-size: 18px;
        
        
    }
    .serdiv{
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    
    .tophead{
    
       
        flex-direction: column-reverse;
        gap: 10px;
        padding: 20px;
        padding-left: 10px;
        
    }
    .tophead h1{
        font-size: 30px;
        color: #E7A117;
    }
    .headpic{
        width: 250px;
        border-radius: 50%;
    }
    .conmain{
        flex-direction: column;
        gap: 5px;
    }
    .conhead{  
        padding: 120px;
        font-size: 25px;
       
    }
    #cmessage h1{
        font-size: 23px;
    }
    label{
        font-size: 18px;
        
    }
    
}



@media screen and (max-width: 480px) {
    
    
    .dev{
        flex-direction: column;
        gap: 20px;
    }
    li a{ 
        margin-right: 10px;
        font-size: 16px;
        
        
    }


    .firstsec{
        
        
        display: flex;
        flex-direction: column-reverse;
        gap: 5rem;

    }
    .imgctn{
        margin-left: 50px;
        align-items: center;
    }
    
    .introname{
        
        /* margin-top: -10px; */
    }
    .introname h1{
        font-size: 3rem;
        margin-top: 12px;
        margin-left: 5px;
        
        
    }
    .introname h2{
        font-size: 2rem;
        margin-left: 5px;
        margin-top: 5px;
        
    }
    
    .btn {
        padding: 10px 20px; 
        font-size: 14px; 
        margin: 15px 0 10px 100px;
    }
    .imgctn2{
        display: none;
    }
    #aboutme{
        
        padding: 2rem 4rem;
        position: relative;
        
    }
    
    .abouthead{
        
        text-align: left;
        font-size: 20px;
        padding-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        color: #222831;
        margin-left: 0px;
    }
    
    .aboutsp{
        
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-top: 20px;
       
        position: relative;
        
        /* text-align: center; */
    }
    .aboutsp h1{
        margin-top: -10px;
        padding-bottom: 40px;
        font-size: 18px;
        text-align: center;
       
    }
    .aboutinfo{
        margin-left: 0px;
        width: 100%;
        text-align: left;
        flex-wrap: wrap;
    }
    .aboutinfo p{
        line-height: 35px;
        font-size: 14px;
        
    }
    .imgctn2{
        
        margin-top: 0px;
        height: fit-content;
    }
    .serdiv{
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    .services{
        padding: 15px;
    }
    .services h1{       
        padding: 15px;
        font-size: 18px;        
    }
    .serdiv p{
        font-size: 14px;
    }
    .serdiv h2{
        font-size: 17px;
    }
    footer p{
        font-size: 14px;
    }

    /* project page */

    .navi ul{
        gap: 0.3rem;
        
        font-size: 18px;
        
    }
    .navlist li{
        padding: 1.1rem;
        
    }
    .tophead{
    
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        padding: 30px;
        padding-left: 30px;
        background-color: #222831;
    }
    .tophead h1{
        font-size: 20px;
    }
    .headpic{
        display: none;
    }

    .btn {   
        padding: 10px 20px;    
        font-size: 14px;
        margin-right: 100px;
    }
    .butt{
        background-color: #C57F1E;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }
    footer{
        font-size: 14px;
        gap: 1.1rem;
        
    }

    /* contact page */

    .conhead{
        height: fit-content;
        color: #E7A117;
        background-color: #222832;
        text-align: center;
        padding: 50px;
        font-size: 20px;
        font-weight: 1000;
    }
    .conmain{
        flex-direction: column;
        
        gap: 0px;
    }

    #cmessage{
        border: none;
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        /* position: relative; */
        text-align: left;
        
    
    }
    #cmessage h1{
        font-size: 23px;
    }
    #cmessage p{
        font-size: 14px;
        font-weight: 20;
    }

    .form{
        /* border: 1px solid goldenrod; */
        margin: 0px 0 10px 30px;
        
        
    }
    form{
        gap: 14px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 60%;
        padding: 5px;
       
        font-size: 18px;
        
    } 
    
  
    
    label{
        font-size: 15px;
        color: #222832;
        
    }
    form .btn{
        margin-left: 0px;
        border: none;
        font-size: 14px;
        
       
    }
    .inputc{
        display: flex;
        flex-direction: column;
    }
    .shead{
        margin: 20px;
        font-size: 18px;
        
    }

    .social-media {
        
        gap: 15px;
        margin: 0px 0 20px;
      }
      
    .social-media a {
        text-decoration: none;
        color: #E7A117;
        font-size: 19px;
        transition: color 0.3s ease;
      }

}

@media screen and (max-width: 390px) {
    .dev{
        flex-direction: column;
        gap: 10px;
        margin-left: -20px;
    }
    li a{ 
        margin-right: 2px;
        font-size: 16px;
        
        
    }
    
}