*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 10px;
}


header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #222832;
}
.navi{
    
    padding: 20px 15px 20px 25px;
}
.dev{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dev h1 a{
    font-size: 25px;
    color: #E7A117;
}
li{
    display: inline-block;
    list-style-type: none;
}
li a{ 
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #E7A117;
    
}
li a:hover{
    transition: ease-in 0.5s;
    color: #F7F7F7;
}

.tophead{
    
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 30px;
    padding-left: 310px;
    background-color: #222831;
}
.tophead h1{
    font-size: 60px;
    color: #E7A117;
}
.headpic{
    width: 390px;
    border-radius: 50%;
}
.headpic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.portpic{
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    padding: 50px;
    background-color: #C57F1E;

}
.picctn{
    width: 436px;
    border: 1px double black;
    border-radius: 20px;

}
.picctn img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.btn {
    background-color: #2F3847; /* Button color */
    color: white; /* Text color */
    padding: 12px 24px; /* Padding for the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    
}
.butt{
    background-color: #C57F1E;
    padding: 30px;
    display: flex;
    justify-content: center;

}
footer{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #EAE1E1;
}