*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #222832;
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 10;
    /* align-items: center; */
}
.dev{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.dev h1{
    color: #E7A117;
    font-weight: 600;
    font-size: 30px;
}

.navi ul{
    display: flex;
    gap: 8rem;
    list-style: none;
    font-size: 18px;
    
}
.navlist li{
    padding: 2.1rem;
    color: #E7A117;
}
a{
    text-decoration: none;
    color: #E7A117;
    font-weight: 400;
}

nav ul li a:hover{
    transform: scale(1.5);
    font-size: 19px;
    text-decoration: underline;
}


.tophead{
    
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 30px;
    padding-left: 310px;
    background-color: #222831;
}
.tophead h1{
    font-size: 60px;
    color: #E7A117;
}
.headpic{
    width: 390px;
    border-radius: 50%;
}
.headpic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.portpic{
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    padding: 50px;
    background-color: #C57F1E;

}
.picctn{
    width: 436px;
    border: 1px double black;
    border-radius: 20px;

}
.picctn img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.btn {
    background-color: #2F3847; /* Button color */
    color: white; /* Text color */
    padding: 12px 24px; /* Padding for the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    
}
.butt{
    background-color: #C57F1E;
    padding: 30px;
    display: flex;
    justify-content: center;

}
footer{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #EAE1E1;
}