*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #F8FAE5;
    height: fit-content;
    position: sticky;
    top: 0;
    /* align-items: center; */
}

.dev{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.dev h1{
    color: #603F26;
    font-weight: 600;
    font-size: 30px;
}

.navi ul{
    display: flex;
    gap: 9rem;
    list-style: none;
    font-size: 18px;
    
}
.navlist li{
    padding: 2.1rem;
    color: #603F26;
}


/* section 1 styling */
.firstsec{
    background-color: #B19470;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.introname{
    
    /* margin-top: -10px; */
}
.introname h1{
    font-size: 5rem;
}
.introname h2{
    font-size: 4rem;
    text-align: center;
    color: #603F26;
}

.imgctn{
    /* height: 500px; */
    display: flex;
    align-items: flex-end;
}
.imgctn img{
    width: 100%;
    height: 100%;
    margin-top: -50px;
    margin-bottom: -128px;
}

/* About me */

#aboutme{
    display: flex;
    height: fit-content;
    background-color: #8D493A;
    
    
    
}

.abouthead{
    text-align: left;
    font-size: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #B19470;
}

.aboutsp{
    display: flex;
    flex-direction: column;
    padding: 70px;
    margin-top: 100px;
    text-align: center;
}
.aboutsp h1{
    margin-top: -140px;
    padding-bottom: 90px;
    font-size: 24px;
    color: white;
}
.aboutinfo{
   
    width: 700px;
    text-align: center;
}
.aboutinfo p{
    line-height: 35px;
    font-size: 18px;
    color: white;
}
.imgctn2{
    
    margin-top: -30px;
    height: fit-content;
}
.feelfree{
    font-weight: 700;
}


.services{
    height: fit-content;
    background-color: #B19470;
}
.services h1{
    text-align: center;
    padding: 30px;
    font-size: 24px;
}
.logoctn{
    width: 110px;
    
    
}
.logoctn img{
    width: 100%;
    height: 100%;
    
}
.webdesign{
    width: 300px;
    border: 1px solid black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    line-height: 20px;
    background-color: #8D493A;
}
.videoedit{
    width: 300px;
    border: 1px solid black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    line-height: 20px;
    background-color: #8D493A;
}
.copywrite{
    width: 300px;
    border: 1px solid black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    line-height: 20px;
    background-color: #8D493A;
}
.serdiv{
    display: flex;
    justify-content: center;
    gap: 150px;
}
.webdesign p{
    display: flex;
    line-height: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.videoedit p{
    display: flex;
    line-height: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.copywrite p{
    display: flex;
    line-height: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.serdiv h2{
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 900;
}